* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

/* ====================================HEADER========================================= */

.header {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid gold;
  height: 28vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header-img {
  width: 100%;
  display: flex;
  border-bottom: 1px solid gold;
  padding: 10px 0px;
  margin-bottom: 20px;
}
.header-img h1 {
  color: orange;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-img img {
  width: 70px;
  margin-left: 400px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list ul {
  display: flex;
  column-gap: 32px;
  list-style-type: none;
}

.nav-list ul a {
  text-decoration: none;
  font-size: 1.3rem;
}

.nav-list ul a:hover {
  text-decoration: underline;
  color: orange;
}

.content-area {
  overflow: auto;
  height: 100vh;
  background-image: url(/imgs/home-img.png);
  background-size: cover;
  background-position: center;
  margin-top: 2rem;
}

.content {
  margin-top: 12%;
  margin-left: 94px;
  max-width: 600px;
}

.content h1 {
  text-transform: uppercase;
  font-size: 3.4rem;
  line-height: 76px;
}

span {
  color: orange;
}

.content p {
  font-size: 1.2rem;
  line-height: 40px;
}

.btn {
  background-color: orange;
  font-size: 1.2rem;
  width: 190px;
  margin-top: 5%;
  padding: 10px 12px;
  border-style: none;
}

.btn:hover {
  width: 210px;
  letter-spacing: 2px;
}

/* =================================ABOUT US================================== */
.About-Us {
  background-color: black;
}

.heading h1 {
  text-transform: uppercase;
  padding: 35px 0px;
  font-size: 2.4rem;
  display: flex;
  justify-content: center;
  column-gap: 15px;
  /* text-align: center; */
  /* border: 2px solid red; */
}

.About-Us-content {
  display: flex;
  align-items: center;
  max-width: 1100px;
  margin-left: 09%;
  background-color: rgb(19, 19, 26);
  /* border: 3px solid khaki; */
}

.About-Us-img img {
  width: 96%;
}

.About-Us-text {
  /* border: 3px solid khaki; */
  padding: 19px 02px;
}

.About-Us-text h1 {
  margin-bottom: 3%;
}

.About-Us-text p {
  font-size: 1.3rem;
  line-height: 30px;
  margin-bottom: 3%;
}

.about-btn {
  background-color: orange;
  font-size: 1.2rem;
  width: 150px;
  padding: 10px 12px;
  border-style: none;
}

.about-btn:hover {
  width: 170px;
  letter-spacing: 2px;
}

/* =====================================MENU============================================ */
.Menu {
  background-color: black;
}

.Our-Menu h1 {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 38px 0px;
  font-size: 2.4rem;
  column-gap: 15px;
}

.Cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 10px;
}

.Card1:hover {
  background: rgb(68, 51, 0);
}

.Card1 {
  border: 3px solid orange;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 13px 10px;
}

.card-img img {
  width: 120px;
  margin-top: 37%;
}

.Card1 h2 {
  margin: 5% 0%;
}

.Card1 p {
  font-size: 1.4rem;
  padding-bottom: 8%;
}

.card-btn {
  background-color: orange;
  font-size: 1.2rem;
  width: 150px;
  margin-bottom: 18%;
  padding: 10px 12px;
  border-style: none;
}

.card-btn:hover {
  width: 170px;
  letter-spacing: 2px;
}

/* ==================================PRODUCT========================================= */
.Product {
  background-color: black;
}

.Our-Product h1 {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  padding: 38px 0px;
  font-size: 2.4rem;
  column-gap: 15px;
}

.ProductCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 10px;
}

.ProductCard1 {
  border: 3px solid orange;
  width: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 13px 10px;
}

.card-imgs {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  padding-top: 50px;
  /* border: 3px solid orange; */
}

.img1 img {
  width: 65px;
  border: 3px solid orange;
  padding: 13px;
}

.img1:hover {
  background: rgb(68, 51, 0);
}

.Product1 img {
  width: 270px;
}

.Productheading h2 {
  font-size: 1.7rem;
}

.stars {
  display: flex;
  padding: 23px 0px;
}

.stars img {
  width: 23px;
}

.ProductCard1 p {
  padding-bottom: 38px;
}

/* ==================================Review================================================================ */
.Review {
  background-color: black;
}

.Our-review h1 {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  padding: 38px 0px;
  font-size: 2.4rem;
  column-gap: 15px;
}

.ReviewCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 10px;
}

.ReviewCard1 {
  border: 3px solid orange;
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviewcard-imgs {
  margin: 35px 0px;
}

.ReviewCard1 p {
  max-width: 330px;
  line-height: 31px;
  font-size: 1.1rem;
  text-align: center;
  /* border: 2px solid red; */
}

.Reviewimg2 img {
  border-radius: 110px;
  width: 100px;
  margin: 23px 0px;
}

.Reviewheading h2 {
  font-size: 1.7rem;
}

.Reviewstars {
  display: flex;
  padding: 20px 0px;
}

.Reviewstars img {
  width: 23px;
}

/* ================================Contact Us================================================= */
.Contact-Us {
  background-color: black;
}

.Contactheading h1 {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 38px 0px;
  font-size: 2.4rem;
  column-gap: 15px;
}

.Contact-Us-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  max-width: 1100px;
  margin-left: 09%;
  margin-bottom: 3%;
  background-color: rgb(19, 19, 26);
}

.Contact-Us-img {
  width: 80%;
  margin-top: 30px;
}

.Form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Form-content {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.form-col-1 {
  width: 50%;
  margin-left: 70px;
}

input {
  margin: 20px 0px;
  padding: 14px 30px;
  border: 2px solid orange;
  background-color: rgb(19, 19, 26);
  outline: none;
}
textarea {
  resize: none;
  padding: 14px 30px;
  border: 2px solid orange;
  background-color: rgb(19, 19, 26);
  outline: none;
}
.textarea {
  width: 80%;
  display: flex;
  column-gap: 0.2rem;
}
.Contact-btn {
  background-color: orange;
  font-size: 1.2rem;
  width: 150px;
  padding: 10px 12px;
  border-style: none;
  margin: 20px 0px;
}

.Contact-btn:hover {
  width: 170px;
  letter-spacing: 2px;
}
/* =======================================Footer============================ */

.Footer-content {
  min-height: 41vh;
  width: 100%;
  background-color: rgb(19, 19, 26);
  /* border: 12px solid salmon; " */
}
.Footer-imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 13px;
  padding: 29px;
  /* border: 3px solid orange; */
}

.Footerimg1 img {
  width: 65px;
  border: 2px solid orange;
  padding: 13px;
  border-radius: 38px;
}

.Footerimg1 img:hover {
  background: rgb(68, 51, 0);
}

.Footerpara {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  padding-bottom: 28px;
  /* border: 3px solid orange; */
}
.Footer_para p {
  border: 2px solid orange;
  padding: 10px 20px;
  font-size: 1.1rem;
  border-radius: 2px;
}

.Footer_para p:hover {
  background: rgb(68, 51, 0);
}

.foottext {
  text-align: center;
  font-size: 1.5rem;
}
